<?xml version="1.0" encoding="UTF-8"?>    
<beans xmlns="http://www.springframework.org/schema/beans"    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:aop="http://www.springframework.org/schema/aop"   
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:jee="http://www.springframework.org/schema/jee"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="    
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd  
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">    
  
    <!-- 定义数据源 -->
    <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/spring_sh">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<!-- 配置hibernate相关属性 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
		
	</bean>
	<!-- 配置action的类 -->
	<bean id="employeeAction" class="cn.muke.employee.action.EmployeeAction" scope="prototype">
		<property name="employeeService" ref="employeeService"></property>
		<property name="departmentService" ref="departmentService"></property>
	</bean>
	<bean id="departmentAction" class="cn.muke.employee.action.DepartmentAction" scope="prototype">
		<property name="departmentService" ref="departmentService"></property>
	</bean>
      <!-- 配置业务层的类 -->
      <bean id="employeeService" class="cn.muke.employee.service.impl.EmployeeServiceImpl">
      	<property name="employeeDao" ref="employeeDao"></property>
      </bean>
      <bean id="departmentService" class="cn.muke.employee.service.impl.DepartmentServiceImpl">
      	<property name="departmentDao" ref="departmentDao"></property>
      </bean>
      <!-- 配置hibernate类 -->
      <bean id="hibernateUtil" class="cn.muke.employee.util.HibernateUtil">
      	<property name="sessionFactory" ref="sessionFactory"></property>
      </bean>
    <!-- 配置Dao的类 -->
   <bean id="employeeDao" class="cn.muke.employee.dao.impl.EmployeeDaoImpl">
   		<property name="hibernateUtil" ref="hibernateUtil"></property>	
   </bean>
   <bean id="departmentDao" class="cn.muke.employee.dao.impl.DepartmentDaoImpl">
   		<property name="hibernateUtil" ref="hibernateUtil"></property>	
   </bean>
  	<!-- 配置事物管理器 -->
  	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
  		<property name="sessionFactory" ref="sessionFactory"></property>
  	</bean>
  	<!-- 开启注解事务 -->
  	<tx:annotation-driven transaction-manager="transactionManager"/>
    <!-- 自动加载构建bean -->  
    <context:component-scan base-package="cn.muke" />  
  
</beans>  